*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
keystore.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

acra.properties
respect-lib-shared/src/commonMain/composeResources/files/buildinfo.properties
respect-server/log/
.maestro/video-downloader/node_modules/
.maestro/video-downloader/cypress/downloads/
.maestro/video-downloader/cypress/videos/
/respect-datalayer-repository/log/respect-server.log
/respect-lib-shared/log/respect-server.log
