*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
keystore.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

acra.properties
respect-lib-shared/src/commonMain/composeResources/files/buildinfo.properties
respect-server/log/
node_modules
cypress/downloads