*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
keystore.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

acra.properties
lib-shared/src/commonMain/composeResources/files/buildinfo.properties
*/log/
.maestro/video-downloader/node_modules/
.maestro/video-downloader/cypress/downloads/
.maestro/video-downloader/cypress/videos/
/.maestro/video-downloader/cypress/screenshots
/.maestro/flows/.maestro/screenshots

#Prevent accidental commit of old server data.
respect-server/data
